<section>
  <h3>Comparison</h3>
  <p>
    Without using the directive, the HTML code to create a label and an input
    field might look like this:
  </p>
  <pre><code>&amp;#123;label for="name"&amp;#125;Name:&amp;#123;/label&amp;#125;
&amp;#123;input type="text" class="form-control" id="name" name="name" required&amp;#125;</code></pre>
  <p>With the directive, the equivalent HTML code would be:</p>
  <pre><code>&amp;#123;input type="text" label="Name" isRequired&amp;#125;</code></pre>
  <p>
    As you can see, it significantly reduces the amount of code needed, making
    your forms easier to read and maintain.
  </p>
</section>
