---
import CopyIcon from "../icons/CopyIcon.astro";
import PackageIcon from "../icons/PackageIcon.astro";
---

<section>
  <h2 class="text-3xl text-red-400 font-semibold mb-3">Install</h2>
  <div
    class="border-gray-700 flex flex-row justify-between rounded-lg border font-medium items-center text-gray-300 p-4 w-full bg-gray-800"
  >
    <div class="flex flex-row gap-3 items-center">
      <PackageIcon />
      npm i labeled-input
    </div>
    <button class="p-2 hover:bg-gray-900 hover:outline outline-1 rounded-lg">

      <CopyIcon />
    </button>
  </div>
</section>
