<blockquote class="pb-6">
  <h2 class="text-xl lg:text-3xl font-semibold">
    <slot />
  </h2>
</blockquote>

<style>
  blockquote {
    border-left: 5px solid rgb(253, 71, 71);
    margin: 20px 0;
    padding: 10px 20px;
  }
</style>
