<section>
  <h3>Usage</h3>
  <p>
    To use the directive, simply add the <code>label</code> attribute to your input.
  </p>
  <pre><code>&amp;#123;input type="text" label="Name"&amp;#125;</code></pre>
  <p>
    To add an asterisk <code>(*)</code> to the required text, use the <code
      >isRequired</code
    > attribute.
  </p>
  <pre><code>&amp;#123;input type="text" label="Name" isRequired&amp;#125;</code></pre>
  <p>
    You can modify the styles of the <code>(*)</code> in the global CSS styles of
    the project or by renaming the <code>required</code> class in the directive.
  </p>
  <pre><code>.required &#123;
  color: red;
&#125;</code></pre>
</section>
