---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://v17.angular.io/assets/images/favicons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#000000] text-white">
		<main class="max-w-3xl mx-auto min-h-screen px-6 sm:px-8 my-16 space-y-8">
			
			<slot/>
		</main>

  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }

  .code{
    @apply border-gray-700 p-0.5 rounded-lg border font-medium items-center text-gray-300  bg-gray-800
  }

  .tag {
    @apply text-red-400;
  }

  .directive {
    @apply text-orange-400;
  }

  .attr {
    @apply text-green-400;
  }

  .keys{
    @apply text-yellow-300
  }
</style>

